* {
    margin: 0; padding: 0; box-sizing: border-box;
    /* border: 1px solid black; */
}

input {
    width: 100%;
    outline: none;
    border: none;
}

.container {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 0.5fr 5fr 0.5fr;
}

.header {
    grid-column: 2;
    padding: 0.5rem;
    display: grid;
    grid-template-rows: 1fr 1fr;
    justify-content: space-around;
}

.header-top {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 6rem;
}

.search {
    display: grid;
    grid-template-columns: 1fr 10fr;
}

.search > img {
    align-self: center;
    justify-self: center;
}

    
input[type="search"] {
    background-color: #f5f5f5;
    /* appearance: none; */
    border-radius: 50px;
    padding: 0.5rem;
    align-self: center;
}

.profile {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;
    
}

.profile > :nth-child(1) {
    height: 20px;
    justify-self: end;
    align-self: center;
}

.profile > :nth-child(2) {
    border-radius: 50%;
    height: 30px;
    justify-self: center;
    align-self: center;
}

.profile > :nth-child(3) {
    align-self: center;
}

.header-bottom {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.welcome-message {
    display: grid;
    grid-template-columns: 0.15fr 1fr;
    align-items: center;
}

.welcome-message > img {
    height: 50px;
    border-radius: 50%;
}

.header-buttons {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr; 
    gap: 2rem;
    align-items: center;
}

.header-buttons > button {
    height: 40px;
    border-radius: 50px;
    border: none;
}

.sidebar-header {
    display: grid;
    gap: 0.5rem;
    grid-template-columns: 1fr 2fr;
}

.sidebar-header > img {
    height: 50px;
    justify-self: end;
}

.sidebar-header > p {
    font-size: 2rem;
}

.sidebar-main {
    display: grid;
    gap: 1rem;
    grid-template-columns: 1fr 2fr;
   
}

.sidebar-main > img {
    height: 30px;
    justify-self: end;
}

/* .sidebar-main:nth-child(2n) {
    

} */

.sidebar {
   grid-row: 1 / 4;
   background-color: aliceblue;
   
}

.footer {
    grid-column: 2;
}