* {
    margin: 0; padding: 0; box-sizing: border-box;
    border: 1px solid black;
}

.container {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 0.5fr 5fr 0.5fr;
}

.header {
    grid-column: 2
}

.sidebar {
   grid-row: 1 / 4;
}

.footer {
    grid-column: 2
}