@font-face {
    font-family: Roboto-Bold;
    src: url(assets/fonts/Roboto-Bold.ttf);
}

@font-face {
    font-family: Roboto-Regular;
    src: url(assets/fonts/Roboto-Regular.ttf);
}


* {
    margin: 0; padding: 0; box-sizing: border-box;
    /* border: 1px solid black; */
}

input {
    width: 100%;
    outline: none;
    border: none;
}

.container {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 0.5fr 5fr 0.5fr;

}

.header {
    grid-column: 2;
    padding: 0.4rem;
    display: grid;
    grid-template-rows: 1fr 1fr;
    justify-content: space-around;
}

.header-top {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 6rem;
}

.search {
    display: grid;
    grid-template-columns: 1fr 10fr;
}

.search > img {
    align-self: center;
    justify-self: center;
    height: 15px
}

    
input[type="search"] {
    background-color: #f5f5f5;
    /* appearance: none; */
    border-radius: 50px;
    padding: 0.4rem;
    align-self: center;
}

.profile {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;
    
}

.profile > :nth-child(1) {
    height: 20px;
    justify-self: end;
    align-self: center;
}

.profile > :nth-child(2) {
    border-radius: 50%;
    height: 30px;
    justify-self: center;
    align-self: center;
}

.profile > :nth-child(3) {
    align-self: center;
    font-family: Roboto-Bold, system-ui;
    font-size: larger;
}

.header-bottom {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.welcome-message {
    display: grid;
    grid-template-columns: 0.15fr 1fr;
    align-items: center;
}

.welcome-text > :nth-child(1) {
    font-family: Roboto-Regular, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.welcome-text > :nth-child(2) {
    font-family: Roboto-Bold, system-ui;
    font-size: larger;
}

.welcome-message > img {
    height: 50px;
    border-radius: 50%;
}

.header-buttons {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr; 
    gap: 2rem;
    align-items: center;
}

.header-buttons > button {
    height: 35px;
    border-radius: 50px;
    border: none;
    font-family: Roboto-Bold, system-ui;
    /* color: white; */
}

.sidebar {
    grid-row: 1 / 4;
    background-color: aliceblue;
    display: grid;
    grid-template-rows: 0.2fr 0.5fr 1fr;
    gap: 3rem;
    padding-top: 2rem;
    background-color: #065f46;
    color: white;
    
 }

.sidebar-header {
    display: grid;
    gap: 0.5rem;
    grid-template-columns: 1fr 2fr;
    
}

.sidebar-header > img {
    height: 50px;
    justify-self: end;
}

.sidebar-header > p {
    font-size: 2rem;
    font-family: Roboto-Bold, system-ui;
}

.sidebar-main, .sidebar-last {
    display: grid;
    gap: 1rem;
    grid-template-columns: 1fr 2fr;
    align-items: center; 
    font-family: Roboto-Bold, system-ui;
    font-size: 1.1rem; 
    
}

.sidebar-main > img, .sidebar-last > img {
    height: 30px;
    justify-self: end;
}

.sidebar-last {
    align-content: start;
}


.main {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 1.5rem;
    padding: 0px 2rem;
    background-color: #ecfdf5;
}

.main-left {
    display: grid;
    grid-template-rows: 0.1fr 1fr;    
}

.main-left > p {
    align-self: center;
}

.main-left > p, .main [class$="-title"] {
    font-family: Roboto-Bold, system-ui;
    font-size: 1.2rem;
}

.content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 1rem;
}

.main-left-card > p {
    font-family: Roboto-Bold, system-ui;
    font-size: 1.1rem;
}

.content > div {
    border-radius: 5%;
    padding: 2rem 1.5rem 0rem 1.5rem;
    background-color: rgb(255, 251, 246);
    font-family: Roboto-Regular, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    border-left: 4px solid #E95619;
}


.card-icons {
    padding-top: 1rem;
    display: flex;
    justify-content: end;
    gap: 1rem;
    
}

.card-icons > img {
    height: 20px;
}


.main-right {
    display: grid;
    grid-template-rows: 1fr 1fr;
    gap: 1rem
}

.announcements, .trending {
    display: grid;
    grid-template-rows: 0.1fr 1fr;
    gap: 1rem;
    padding: 1rem;
}

.announcement-header {
    font-family: Roboto-Bold, system-ui;
    font-size: 1rem;
}

.announcement-content > div {
    padding: 1rem;
    font-family: Roboto-Regular, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.trending-content {
    display: grid;
    grid-template-columns: 1fr 2fr;
    /* gap: 0.4rem; */
}

.trending-content > img {
    height: 50px;
    border-radius: 50%;
    justify-self: center;
}

.trending-content > div {
    
}

.avatar-handle > p {
    font-family: Roboto-Regular, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.footer {
    grid-column: 2;
    justify-self: center;
    align-self: center;
}